<linearGradient id="circleColor1" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:rgba(8,181,249,0.99)"></stop>
        <stop offset="100%" style="stop-color:rgba(22,251,248,0.1)"></stop>
</linearGradient>
<linearGradient id="borderColor1" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:#08b5f9"></stop>
        <stop offset="100%" style="stop-color:rgba(22,251,248,0.9)"></stop>
</linearGradient>

<linearGradient id="circleColor2" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:rgba(58,46,190,0.9)"></stop>
        <stop offset="100%" style="stop-color:rgba(88,157,252,0.1)"></stop>
</linearGradient>
<linearGradient id="borderColor2" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:rgba(92,35,254,0.9)"></stop>
        <stop offset="100%" style="stop-color:rgba(88,157,252,0.9)"></stop>
</linearGradient>

<linearGradient id="circleColor3" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:rgba(165,62,213,0.9)"></stop>
        <stop offset="100%" style="stop-color:rgba(55,72,240,0.1)"></stop>
</linearGradient>
<linearGradient id="borderColor3" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:rgba(165,62,213,0.9)"></stop>
        <stop offset="100%" style="stop-color:rgba(55,72,240,0.9)"></stop>
</linearGradient>

<linearGradient id="circleColor4" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:rgba(218,77,60,0.9)"></stop>
        <stop offset="100%" style="stop-color:rgba(210,165,70,0.1)"></stop>
</linearGradient>
<linearGradient id="borderColor4" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:rgba(218,77,60,0.9)"></stop>
        <stop offset="100%" style="stop-color:rgba(210,165,70,0.9)"></stop>
</linearGradient>

<linearGradient id="circleColor5" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:rgba(114,176,53,0.9)"></stop>
        <stop offset="100%" style="stop-color:rgba(34,67,96,0.1)"></stop>
</linearGradient>
<linearGradient id="borderColor5" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:rgba(24,170,114,0.9)"></stop>
        <stop offset="100%" style="stop-color:rgba(159,179,54,0.9)"></stop>
</linearGradient>